.buttons-nav__show-more-cards {
    outline: none;
    display: none;
    background: #FFF;
    border: #FFF;
    border-radius: 80px;
    height: 64px;
    width: 288px;

    margin: 64px auto 0;

    position: relative;
    top: 0;
    transition: all 1s ease 0s;
}

.buttons-nav__show-more-cards:hover {
    top: -10px;
    transition: all 0.5s ease 0.2s;
    box-shadow: 0 5px 0 0 #957B8D;
}

.buttons-nav__show-more-cards:active {
    top: -7px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 0 0 #957B8D;
}