@import url(__image/place-card__image.css);
@import url(__delete-icon/place-card__delete-icon.css);
@import url(__description/place-card__description.css);
@import url(__name/place-card__name.css);
@import url(__like-icon/place-card__like-icon.css);
@import url(__likes/place-card__likes.css);

@keyframes fadeInUp{
    0% {
        opacity: 0;

        transform: translateY(400px);
    }
    60% {

        transform: translateY(-30px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;

        transform: translateY(0);
    }
}

.place-card {
    width: 282px;
    background-color: #fff;
    border-radius: 10px;
    min-height: 360px;
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

