.popup__close {
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.popup__close:hover {
  opacity: .5;
  transition: all 0.3s ease-in-out;
}
